<div>
    <form [formGroup]="form" (ngSubmit)="create()">
        <div class="mb-3">
            <div class="field">
                <label class="block">partido político del candidato</label>
                <div>
                    <p-dropdown 
                    [filter]="true"
                    [options]="parties"
                    formControlName="partido" 
                    placeholder="Seleccione partido político"
                    optionLabel="nombre_partido"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="field">
                <label class="block">Nombre del candidato</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="nombres"
                    formControlName="nameCandidato"/>
                </div>                
            </div>
        </div>
        <div class="mb-3">
            <div class="field">
                <label class="block">Apellido del candidato</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="apellidos"
                    formControlName="apellidoCandidato"/>
                </div>                
            </div>
        </div>
        <div class="mb-3">
            <div class="field">
                <label class="block">Identificacion del candidato</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="Identificacion del candidato"
                    formControlName="numberCedula"/>
                </div>                
            </div>
        </div>
        <div class="mb-3">
            <div class="field">
                <label class="block"># Resolución</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="Numero Resolución"
                    formControlName="numberResolucion"/>
                </div>                
            </div>
        </div>
        <div style="text-align: right;">
            <p-button 
            label="Create"
            type="submit"
            class="mr5"
            ></p-button>
            <p-button
            label="Close"
            type="button"
            (click)="close()"
            ></p-button>
        </div>
    </form>
</div>
