<h1>Partidos políticos</h1>
<p-table [value]="parties" [paginator]="true" [rows]="2">
    <ng-template pTemplate="header">
        <tr>
            <th>Partido político</th>
            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-party>
        <tr>
            <td>{{party.name}}</td>
            <td>
                <button 
                pButton 
                type="button" 
                class="p-button-primary"
                style="margin-right: 5px;" 
                icon="pi pi-file-edit"></button>
                <button 
                pButton 
                type="button" 
                class="p-button-secondary" 
                icon="pi pi-trash"
                (click)="delete(party._id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

