<div class="mt-5">
    <div style="position: relative;">
        <h1>Partidos Politicos</h1>
        <button 
        pButton 
        type="button" 
        class="p-button-primary create-button"
        label="Crear"
        icon="pi pi-user-plus"
        (click)="create()"
        ></button>
    </div>
    <p-table [value]="parties" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
            <tr>
                <th>Partido político</th>
                <th>Lema</th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-party>
            <tr>
                <td>{{party.nombre_partido}}</td>
                <td>{{party.lema_partido}}</td>
                <td>
                    <button 
                    pButton 
                    type="button" 
                    class="p-button-info"
                    style="margin-right: 5px;" 
                    icon="pi pi-eye"
                    (click)="showDialog(party.nombre_partido, false)"></button>
                    <button 
                    pButton 
                    type="button" 
                    class="p-button-primary"
                    style="margin-right: 5px;" 
                    icon="pi pi-file-edit"
                    (click)="showDialog(party.nombre_partido, true)"></button>
                    <button 
                    pButton 
                    type="button" 
                    class="p-button-secondary" 
                    icon="pi pi-trash"
                    (click)="delete(party.nombre_partido)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

