<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <div class="field">
                <label class="block">Nombre Partido</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="Nombre"
                    formControlName="nombre_partido"/>
                </div>
                <label class="block">Lema Partido</label>
                <div>
                    <input type="text"
                    pInputText 
                    placeholder="Lema"
                    formControlName="lema_partido"/>
                </div>               
            </div>
        </div>
        <div style="text-align: right;">
            <p-button 
            *ngIf="isEditing"
            label="Guardar cambios"
            [disabled]="form.invalid"
            type="submit"
            class="mr5"
            ></p-button>
            <p-button 
            label="Cerrar"
            type="button"
            (click)="close()"
            ></p-button>
        </div>
    </form>
</div>
